<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    <p>© 2023 TARZNB. All rights reserved.</p>
  </div>
</div>
