<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1582880421648-a7154a8c99c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2342&q=80); height: 880px;">
  <div class="container" style="width: 1000px">
    <h1 class="fs-1 pb-3"><strong>Dormez dans les arbres : Découvrez nos cabanes suspendues uniques en leur genre</strong></h1>
    <p>Réservez dès maintenant votre séjour dans nos cabanes suspendues et vivez une expérience unique et mémorable dans les arbres.</p>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <%= link_to "Reserver une cabane", cabans_path, class: 'btn btn-flat pb-3 pt-3' %>
      </div>
      <div class="m-3">
        <%= link_to "Mettre ma cabane sur Tarz'n'B ", new_caban_path, class: 'btn btn-flat pb-3 pt-3' %>
      </div>
    </div>
  </div>
</div>
