.navbar-lewagon {
  justify-content: space-between;
  background: #40513B;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #EDF1D6;
  border-right: 1px solid #EDF1D6;
  margin-left: 2px;
  margin-right: 2px;
}


#nav-link-right {
  border-right: 0px
}

